.vertical-line {
    stroke-dasharray: 20;
    stroke-dashoffset: 20;
    animation: draw-vertical 0.2s ease forwards;
  }
  
@keyframes draw-vertical {
  to {
    stroke-dashoffset: 0;
  }
}

.horizontal-line-center-left, .horizontal-line-center-right {
  stroke-dasharray: 320;
  stroke-dashoffset: 160; 
  animation: draw-horizontal-center 0.4s ease-out forwards;
}

@keyframes draw-horizontal-center {
  to {
    stroke-dashoffset: 0;
  }
}
